#all-clubs {
  padding: 6rem;
  /* text-align: center; */
  font-family: auto;
  /* background: #dee2ea; */
  background-image: url('/public/images/gray.jpeg');
  background-position: center;
  background-size: cover;
}

#all-clubs button {
  padding: 0.2rem;
  min-width: 6rem;
  width: fit-content;
}

#all-clubs .search-form {
  width: 50%;
  margin: 1rem;
  /* margin: auto; */
}

#all-clubs h1 {
  margin: 1rem;
}
