body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
}

section > h1 {
  margin: 0;
  letter-spacing: 0.4rem;
  padding: 0.5rem;
  font-size: 4rem;
  font-family: 'Great Vibes', cursive;
  color: black;
  width: 100%;
  font-weight: 100;
}

#main-app {
  display: flex;
}

#right {
  width: 80%;
}

#past-selections,
#current-selection {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
