/* img.banner-image {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: block;
  opacity: 1;
  transition: opacity 3s;
  margin: auto;
} */

.slide-container {
  height: fit-content;
  min-width: 100%;
  position: relative;
  top: 0;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.each-fade {
  display: flex;
  /* height: inherit; */
  width: 100%;
}

.react-slideshow-fade-images-wrap {
  height: 40rem;
}
.each-fade > div {
  width: 100%;
  text-align: center;
}

.each-fade > div img {
  /* width: 100%; */
  width: auto;
  height: 30rem;
  border-radius: 8px;
  /* object-fit: cover; */
}
/* img.banner-image {
  height: 30rem;
  width: 100%;
} */

#text-container {
  height: fit-content;
  display: flex;
  justify-content: center;
}
#banner-text {
  padding-top: 6rem;
  color: white;
  position: absolute;
  z-index: 3;
  text-align: center;
}
#banner-text h1 {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.24rem;
  padding: 3rem;
}
/* #banner > div h1 {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.24rem;
  padding: 3rem;
} */

#banner-text h2 {
  font-weight: 200;
  letter-spacing: 0.4rem;
}

#banner-text h1,
#banner-text h2 {
  margin: 0;
  font-family: sans-serif;
  text-shadow: 2px 2px 3px black;
}

#banner-wrapper {
  width: 80vw;
  padding: 3rem 2rem;
  margin: auto;
}

.react-slideshow-fade-wrapper {
  height: 30rem;
  border: 1px solid black;
}
