#right {
  width: 80%;
  margin: 1rem;
}

.flex-container {
  display: flex;
}

.section-heading {
  font-family: cursive;
}
#right > div {
  margin: 1rem;
  margin-top: 0;
}
#right h2 {
  font-family: cursive;
}

#right h2 > span {
  font-size: 1.5rem;
  color: green;
  margin-left: 1rem;
}
#right > div > div > div {
  margin: 1rem 0;
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
}
#right > div > div > div button {
  color: black;
  background: rgb(227 235 238);
  padding: 0.1rem 1rem;
  border: 1px solid grey;
}

#bookclub button.invite {
  background-color: #08165eed;
  border: 1px solid black;
}
#bookclub button.invite:hover {
  color: #08165eed;
  background: white;
}
#bookclub section {
  margin: 1rem;
  padding: 0.5rem;
  min-height: 15rem;
  border: 1px ridge silver;
}

div.header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#suggestions div.header {
  width: 90%;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}

#no-current {
  justify-content: center;
  background-size: cover;
  background-image: url('../images/blue_bg.jpeg');
}

#no-suggestions {
  justify-content: flex-start;
  background-image: url('../images/blue_pattern.jpeg');
}

#no-past-books {
  justify-content: center;
  background-color: #c6eaf2;
  /* background-image: url('../images/abstract_blue.jpeg'); */
  background-size: cover;
}

#no-photos {
  justify-content: center;
  background-image: url('../images/blue_bg.jpeg');
  background-size: cover;
}
#no-suggestions,
#no-past-books,
#no-current,
#no-photos {
  display: flex;
  min-height: 15rem;
  align-items: center;
}

#no-suggestions > div,
#no-past-books > div,
#no-current > div,
#no-photos > div {
  background-color: white;
  width: 40%;
  font-size: 1.1rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
#no-suggestions > div {
  margin-left: 10rem;
}

#no-past-books > div {
  margin-left: 20rem;
}

#bookclub section button {
  background: #08165eed;
  border: 1px solid black;
}
