#bookclub {
  /* background: #dee2ea; */
  background-image: url('/public/images/gray.jpeg');
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100vw;
  z-index: 1;
}
#right {
  width: 80%;
  margin: 0 1rem;
  position: relative;
}

.flex-container {
  display: flex;
}

.section-heading {
  font-family: cursive;
}
#club-details {
  display: flex;
  margin: 1rem;
  margin-top: 0;
  flex-direction: column;
  justify-content: space-between;
}
#right h2 {
  font-family: cursive;
}

#right h2 > span {
  font-size: 1.5rem;
  color: red;
  margin-left: 1rem;
}
#right > div > div > div:nth-child(1) {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#club-details span.date {
  color: white;
}
/* #right > div > div > div:nth-child(2) {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} */
#right > div > div > div:nth-child(1) input {
  margin: 0 1rem;
}
#right > div > div > div:nth-child(2) button {
  width: 20rem;
  color: white;
  height: 3.2rem;
  margin: 0 4rem;
}

#right > div > div > div:nth-child(1) button {
  color: black;
  background: rgb(227 235 238);
  padding: 0.1rem 1rem;
  border: 1px solid grey;
}

#bookclub button.main-top {
  width: 20rem;
  color: white;
  height: 3.2rem;
  margin: 0 4rem;
  background-color: #08165eed;
  border: 1px solid black;
}
#bookclub button.main-top:hover {
  color: #08165eed;
  background: white;
}
#bookclub section {
  margin: 1rem;
  padding: 0.5rem;
  min-height: 15rem;
  border: 1px ridge silver;
  background: white;
}

div.header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#suggestions div.header {
  width: 90%;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}

#no-current {
  justify-content: center;
  background-size: cover;
  background-image: url('../images/blue_bg.jpeg');
}

#no-suggestions {
  justify-content: flex-start;
  background-image: url('../images/blue_pattern.jpeg');
}

#no-past-books {
  justify-content: center;
  background-color: #c6eaf2;
  /* background-image: url('../images/abstract_blue.jpeg'); */
  background-size: cover;
}

#no-photos {
  justify-content: center;
  background-image: url('../images/blue_bg.jpeg');
  background-size: cover;
}
#no-suggestions,
#no-past-books,
#no-current,
#no-photos {
  display: flex;
  min-height: 15rem;
  align-items: center;
}

#no-suggestions > div,
#no-past-books > div,
#no-current > div,
#no-photos > div {
  background-color: white;
  width: 40%;
  font-size: 1.1rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
}
#no-suggestions > div {
  margin-left: 10rem;
}

#no-past-books > div {
  margin-left: 20rem;
}

#bookclub section button.blue {
  background: #08165eed;
  border: 1px solid black;
}

#toast {
  padding: 0;
  background: white;
  height: 15rem;
  position: absolute;
  max-width: 90vw;
  height: 10rem;
  background: #ecffec;
  width: 50vw;
}

.toast-header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.toast-body {
  font-size: 1rem;
}

div.date-picker {
  justify-content: space-between;
  display: flex;
  width: 35%;
  align-items: center;
}

div.date-picker button {
  border: #dfdbdb;
  background: #2fb02f;
}

div.date-picker button:hover {
  background: white;
  color: green;
}
#right div.col {
  padding: 0;
}
