#card-text {
  display: flex;
  align-items: center;
}

#card-text span {
  color: lightgray;
  margin: auto 0.5rem;
}

#clublist .card-body {
  text-align: left;
}
#clublist span#about {
  text-decoration: underline;
  color: purple;
}

#popover-title {
  font-weight: 600;
}

#clublist {
  background: #dee2ea;
  display: flex;
}

#clublist > div {
  margin: 1rem;
}

#clublist div.card-footer {
  height: 4rem;
  text-align: center;
}

#clublist div.card-footer button {
  min-width: 6rem;
}
