#no-requests {
  min-height: 20rem;
  background: #e8e8e8;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
  padding: 3rem;
  border: 1px solid silver;
}

#no-requests h2,
#no-requests h3 {
  font-weight: 100;
}

#club-requests {
  display: flex;
  padding: 6rem;
  flex-direction: column;
  flex-wrap: wrap;
}

#request-wrapper {
  display: flex;
}

#request-wrapper div.card > button.approve {
  background: green;
  border: 1px solid green;
  margin: 0.2rem 0;
}
#request-wrapper div.card > button.ignore {
  background: red;
  border: none;
}
