/* #create-club,
#edit-club {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
} */

#create-club,
#edit-club {
  background: #efeff2;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  /* width: 70%; */
  margin: 2rem auto;
  box-shadow: 1px 1px 3px grey;
}

#edit-club-wrapper {
  text-align: center;
}
.club-image-upload {
  height: 20rem;
  border: 2px solid rgb(218, 74, 175);
  width: 30%;
}
/* #create-club .img-thumbnail {
} */
#create-club div.form,
#edit-club div.form {
  width: 75%;
  border: purple;
}

#create-club div.form .form-row > .col-4 {
  margin: 2rem;
  text-align: center;
}
#create-club button {
  background-color: peru;
  width: 7rem;
  padding: 0.3rem;
}
#edit-club img {
  height: 15rem;
  width: 20rem;
  border-radius: 12px;
}

#formFile {
  background-color: #3b414712;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 12px;
}

#file-upload-button {
  margin-right: 1rem;
}
