#edit-profile h1 {
  text-align: center;
}

/* #edit-profile {
  padding: 2rem;
} */
#edit-profile {
  width: 70vw;
  margin: auto;
}
#edit-profile form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#edit-profile img {
  height: 15rem;
  width: 15em;
}

#edit-profile form > div:nth-child(1) {
  text-align: center;
  position: relative;
}
#edit-profile form > div:nth-child(2) {
  padding: 1rem;
  justify-content: space-around;
}
