#edit-feedback {
  width: 50%;
}
#edit-feedback form {
  margin: 1rem auto;
}

#edit-feedback button {
  background-color: rgb(33, 190, 33);
}
.member-rating {
  width: 20%;
  display: inline;
}

.member-rating select {
  width: 5rem;
  margin: 1rem;
  display: inline;
}
