#edit-photo img {
  height: 15rem;
  width: 15rem;
}

#edit-photo form {
  display: flex;
  flex-direction: column;
}

#edit-photo {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

#edit-photo button {
}
