* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  /* background-image: url('../images/open_book.jpg'); */
  background-image: url('../images/openbook-lights.jpeg');
  background-size: cover;
  background-position: center;
}

#member-clubs {
  margin: 2rem;
  min-height: 8rem;
  background-color: rgb(238 238 238);
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 12px;
}

#member-clubs > div {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
#member-clubs div.card-title,
#member-clubs div.card-footer {
  text-align: center;
}

#member-clubs div.card {
  margin: 1rem;
  height: fit-content;
}

#member-clubs img {
  height: 12rem;
}

#landing h1 {
  margin-left: 2rem;
}

#hero > div h1 {
  margin: 3rem;
  font-size: 6rem;
  text-shadow: 2px 2px black;
}
#hero > div > div:nth-child(1) {
  height: fit-content;
}
#hero > div > div p {
  font-weight: 100;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-size: 2rem;
}
#hero > div > div:nth-child(2) {
  height: fit-content;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

#hero > div {
  text-align: center;
  justify-content: space-around;
  height: 30rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#hero button {
  font-weight: 100;
  border: 1px solid #182d58a8;
  background: #e8e8e887;
  box-shadow: 1px 1px 3px black;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: black;
}

#hero button:hover {
  background: white;
}

#no-clubs {
  margin: 1.5rem;
  padding: 3rem;
  background-image: url('../images/mug-books.jpg');
  background-size: cover;
  min-height: 15rem;
}

#no-clubs > div {
  padding: 0.5rem;
  width: 60%;
  margin: auto;
  border-radius: 12px;
  background: white;
  color: black;
  text-align: center;
}

#no-clubs > div p {
  font-size: 1.5rem;
}

#no-clubs > div p > a {
  text-decoration: underline;
}
