#your-clubs div.card > img {
  /* width: inherit; */
  height: 10rem;
}

#your-clubs > div > div {
  display: flex;
}

#your-clubs div.card {
  margin: auto 0.3rem;
}

#your-clubs div.card-body {
  font-size: 1.2rem;
  color: gray;
}
#your-clubs > div {
  display: flex;
}
#your-clubs {
  background: #545454;
  color: white;
  padding: 6rem;
}
#your-clubs h1 {
  font-family: auto;
}

#no-member-clubs > div {
  background-color: white;
  width: 40%;
  font-size: 1.1rem;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  margin: auto;
}

#no-member-clubs {
  display: flex;
  min-height: 20rem;
  background-image: url('../images/blue_pattern.jpeg');
  background-size: cover;
}

#your-clubs-wrapper h1 {
  margin: 0 1rem;
}
