#searchbar {
  width: 20rem;
}

#navbar {
  font-size: 1.2rem;
  height: 4rem;
  position: absolute;
  z-index: 1;
  background-color: transparent;
}

/* #navbar-text,
#navbar a {
  color: #d9d8d8c7;
} */

#navbar .btn {
  background-color: #e1e1e1;
  margin: auto 0.5rem;
}

.dropdown > a {
  display: flex;
  align-items: center;
}

#dropdown-item {
  color: black;
}

#searchform {
  padding-left: 3rem;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
  background-image: url('../images/search_icon.png');
}

#nav-dropdown {
  color: #c1c2c9;
}
