/* .color-nav {
  height: 4rem;
  background-color: rgb(250, 109, 109);
} */

#searchbar {
  width: 20rem;
}

#navbar {
  font-size: 1.2rem;
  height: 4rem;
  background-color: rgb(250, 109, 109);
}

#navbar a {
  margin: auto 1rem;
}
