#searchbar {
  width: 40rem;
  margin: 0 auto;
}
#navbar-container {
  padding: 1rem;
  align-items: center;
  display: flex;
  position: absolute;
  /* background: purple; */
  width: 100vw;
  z-index: 1;
}
#navbar {
  font-size: 1.2rem;
  height: 4rem;
  width: fit-content;
  background-color: transparent;
}

#navbar .btn {
  background-color: #e1e1e1;
  margin: auto 0.5rem;
}

.dropdown > a {
  display: flex;
  align-items: center;
}

#dropdown-item {
  color: black;
}

#searchform {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
  /* background-image: url('../images/search_icon.png'); */
}

#nav-dropdown {
  color: #c1c2c9;
}

#login-link {
  border-radius: 5px;
  background: #875d81;
}
#login-link,
#signup-link {
  color: black;
  width: 70%;
  margin: 0 auto;
}

#signup-link {
  text-decoration: underline;
}
