#single-book {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#book-details {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}

#book-details p {
  margin: 0.5rem;
}
#book-details span,
div.description span {
  font-size: 1.1rem;
  font-weight: bold;
}

div.description {
  padding: 0 3rem;
  margin: 1rem;
  height: 20rem;
  font-size: 0.9rem;
  padding: 0 1.5rem;
  overflow: scroll;
}
div.description p {
  text-align: left;
  margin: 0.4rem;
  font-size: 1rem;
  line-height: 1.4rem;
}
#single-book div.row {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#single-book img.current {
  height: 20rem;
  border: 1px ridge black;
}
/* #single-book img.current {
  width: 100%;
  margin-left: 1rem;
} */

img.single-book {
  border: 1px solid rgb(158, 151, 109);
  margin: 0;
  height: 18rem;
}
