#suggestion-row {
  display: flex;
  overflow-x: scroll;
}

#suggestions div.card {
  margin: 2rem;
}

#suggestions div.card img {
  height: 12rem;
}
#suggestions .btn {
  padding: 0.3rem;
  color: white;
  background: grey;
}

#suggestions p.card-text {
  margin-bottom: 0.5rem;
}

#suggestions div.card-body {
}
