#search-result-row {
  display: flex;
  background-color: #dcf0ff;
  margin: 1rem;
  height: 12rem;
  /* padding: 1rem; */
}

#search-results {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-results span {
  font-size: 1.2rem;
}

.col {
  padding: 1rem;
}

#search-results .btn {
  width: 10rem;
  border: 1px solid black;
}

.btn.suggested {
  background-color: grey;
}
