body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 3;
  width: 100%;
}

section > h1 {
  margin: 0;
  letter-spacing: 0.4rem;
  padding: 0.5rem;
  font-size: 4rem;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  color: black;
  width: 100%;
  font-weight: 100;
}
