img.banner-image {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: block;
  opacity: 1;
  transition: opacity 3s;
  margin: auto;
}

#banner {
  height: 45rem;
  min-width: 100%;
  position: relative;
  top: 0;
}

#banner > div {
  text-align: center;
  color: white;
  position: absolute;
  left: 55%;
  transform: translate(-50%, -50%);
  z-index: 2;
  top: 60%;
}

#banner > div h1 {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: 0.24rem;
  padding: 3rem;
}

#banner h2 {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

#banner h1,
#banner h2 {
  margin: 0;
  font-family: sans-serif;
  text-shadow: 3px 3px black;
}

img.hidden {
  opacity: 0;
  transition: opacity 3s;
}
