/* member photo itself */
img.member-img {
  height: 100%;
  width: 20rem;
  border-radius: 12px 0 0 12px;
  overflow: hidden;
  background-color: rgb(255, 192, 221);
}

/* member details, bio, name, etc */
div.member-details {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  padding-left: 2rem;
  height: inherit;
  width: 100%;
  background-color: #ead9ea;
}

/* div around member image itself */
.member-img-wrapper {
  height: 100%;
}
#past-book-list img:hover {
  border: 1px solid seagreen;
}
.member-details h2 {
  margin: 0;
  font-family: 'Great Vibes', cursive;
  font-size: 2.8rem;
  font-weight: 100;
}
.flex-row {
  border: 1px solid lightgray;
  height: 25rem;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.member-details span {
  font-size: 1.1rem;
}

/* entire div around picture, member info, etc */
.member-wrapper {
  margin: 2rem auto;
  width: 70%;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.large {
  font-size: 2rem;
}
